*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 1000px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(rgb(173, 15, 139) ,rgba(39, 15, 173));
}
.container{
    position: fixed;
    bottom: 55px;
    left: 55px;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 5px #000;
}
.container span{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color:rgb(81, 22, 158);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.container span:hover{

    transform: rotate(360deg);
}
.container ul{
    position: absolute;
    bottom: 100px;
    left: 55px;
    background: #fff;
    min-width: 150px;
    padding: 20px;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    transition: 0.3s;
    visibility: hidden;

}
.container.action ul{
    transition: 0s;
    visibility: visible;

}

.container ul li{
    list-style: none;
    line-height: 1.5em;
}
.container ul li a{
  
    text-decoration: none;
    color: #000;
}



