*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    min-height: 100vh;
    background-color: black;
    overflow: hidden;
}
.container{
    position: relative;
    height: 100vh;
    overflow: hidden;
    z-index: 2;
}

.row{
    display: inline-flex;
    margin-top: -22px;
    margin-left: -50px;
}
.row:nth-child(even){
    margin-left: -4px;
}
.hexagon{
    position: relative;
    width: 90px;
    height: 80px;
    background: #111;
    margin: 1px;
    margin-top: 13px;
    transform: rotate(90deg);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    transition: 2s;
}

.hexagon:before{
    content: '';
    position: absolute;
    top: -35px;
    left: 35px;
    width: 50%;
    height: 100%;
    pointer-events: none;
    background: rgba(255, 255, 255,0.02);
    transform: rotate(90deg);
    z-index: 1000;
}
#cursor{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #0f0;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    animation: animate 4s linear infinite;
    z-index: 1;
}
@keyframes animate{
    0%{
        filter: hue-rotate(0deg)  blur(50px);
    }
    100%{
        filter: hue-rotate(360deg) blur(50px);
    }
}